<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.back.assessment.mapper.DefectMapper">

    <resultMap id="BaseResultMap" type="com.back.assessment.entity.Defect">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="defectRate" column="defect_rate" jdbcType="FLOAT"/>
            <result property="indicatorScore" column="indicator_score" jdbcType="FLOAT"/>
            <result property="defectCloseRate" column="defect_close_rate" jdbcType="FLOAT"/>
            <result property="indicatorScoreC" column="indicator_score_c" jdbcType="FLOAT"/>
            <result property="assessmentScore" column="assessment_score" jdbcType="FLOAT"/>
            <result property="weightedScore" column="weighted_score" jdbcType="FLOAT"/>
            <result property="weightId" column="weight_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,defect_rate,indicator_score,
        defect_close_rate,indicator_score_c,assessment_score,
        weighted_score,weight_id
    </sql>
</mapper>
