<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.back.assessment.mapper.ProjectPersonMapper">

    <resultMap id="BaseResultMap" type="com.back.assessment.entity.ProjectPerson">
            <result property="id" column="id" jdbcType="INTEGER"/>
            <result property="pStaff" column="p_staff" jdbcType="FLOAT"/>
            <result property="aStaff" column="a_staff" jdbcType="FLOAT"/>
            <result property="usageRate" column="usage_rate" jdbcType="FLOAT"/>
            <result property="indicatorScore" column="indicator_score" jdbcType="FLOAT"/>
            <result property="assessmentScore" column="assessment_score" jdbcType="FLOAT"/>
            <result property="weightedScore" column="weighted_score" jdbcType="FLOAT"/>
            <result property="weightId" column="weight_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,p_staff,a_staff,
        usage_rate,indicator_score,assessment_score,
        weighted_score,weight_id
    </sql>
</mapper>
